
.body {
    background-color: #100028;
    overflow-x: hidden;
}
nav {
    width: 60%;
    min-width: 600px;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background-color: #1dffb9;
    border-radius: 25px;
    box-shadow: #100028 10px 10px 10px;
}
nav a {
    position: relative;
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    text-transform: capitalize;
    color: #909090;
    transition: all 0.3s ease-in-out ;
}
a::before {
    content: "";
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
bottom: -7px;
}
a:hover {
    color: #100028;
}
a:hover ::before {
    width: 100%;
}